APP_CONFIG__APP__APP_NAME=AutoNomera_V2
APP_CONFIG__APP__DEBUG=False

APP_CONFIG__TELEGRAM__BOT_TOKEN=12345
APP_CONFIG__TELEGRAM__ADMIN_IDS=[12345]

APP_CONFIG__DB__NAME=auto_db_2
APP_CONFIG__DB__PASSWORD=12345
APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__HOST=127.0.0.1
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__ECHO=False

APP_CONFIG__DB__REDIS_HOST=127.0.0.1
APP_CONFIG__DB__REDIS_PORT=6379