APP_CONFIG__APP__APP_NAME=MyApp
APP_CONFIG__APP__DEBUG=False

APP_CONFIG__BOT__TOKEN=1231231

APP_CONFIG__DB__NAME=my_db
APP_CONFIG__DB__PASSWORD=12345
APP_CONFIG__DB__USER=postgres
APP_CONFIG__DB__HOST=127.0.0.1
APP_CONFIG__DB__PORT=5432
APP_CONFIG__DB__ECHO=False

APP_CONFIG__DB__REDIS_HOST=127.0.0.1
APP_CONFIG__DB__REDIS_PORT=6379